
  body {
    height: 100vh;
}
#navbar .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#navbar .logo{
    flex-direction: column;
    align-items: center;
  }

  .logo a {
    font-size: 20px;
}

#navbar ul {
    flex-direction: column;
    align-items: center;
    justify-content:center;
  }

  /* showcase */
  .showcase{
    padding-left: 0rem;
    flex-direction: column;
    align-items:center;
  }


  .showcase .title{
    font-size: 1.5rem;
    color: #E2F26D;
    line-height: 30px;
    font-weight: 0;
    text-align: center;
    padding: 1rem 2rem 0rem;
  }

  .showcase .paragraph{
    font-weight: 0;
    line-height: 20px;
    color: #ebfff4;
    text-align: center;
    padding: 3rem 2rem 0rem;
  }














